.card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    cursor: pointer;
}

.card:hover .room-image {
    transform: scale(1.05);
}

.room-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-auto-rows: var(--card-height-desktop);
    gap: var(--gap-lg);
}

.room-image {
    position: absolute; 
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms;
}

.room-details {
    z-index: 1;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    padding: var(--padding-md);
    box-sizing: border-box;

}

.indicator-available {
    border-radius: 100%;
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--confirm);
}

.room-available {
    z-index: 1;

    display: flex;
    gap: var(--gap-sm);
    background-color: var(--bg);
    align-items: center;
    gap: var(--gap-md);

    border-radius: var(--border-radius-lg);
    padding: var(--padding-md) var(--padding-lg);

    width: fit-content;

    font: var(--p2);
}

.room-name {
    z-index: 1;

    width: 100%;
    max-width: 100%;
    background-color: var(--accent);
    
    border-radius: var(--border-radius-md);
    padding: var(--padding-lg) var(--padding-lg);
    box-sizing: border-box;

    & span {
        color: var(--bg);
        font-size: var(--p0);
    }
}

/* stretch task 2 */
@media screen and (max-width: 640px) {
    .room-container {
        grid-auto-rows: var(--card-height-mobile);
    }
    .room-image {
        filter: brightness(50%);
    }
    .room-details {
        flex-direction: row;
        align-items: center;
    }
    /* technically flex order is not good for accessibility and shouldnt be used in prod but i got lazy */
    .room-name {
        background-color: transparent;
        width: fit-content;
        order: 1;
    }
    .room-available {
        order: 2;
    }
}